body {
  background-color: white;
  color: black;
  margin: 3rem 3rem;
}

h1 {
  font-size: 36px;
}

.board {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.die {
  min-height: 100px;
  min-width: 100px;
  height: 5em;
  width: 5em;
  background-color: salmon;
  border-radius: 10%;
  padding: 1rem;
}

.dot {
  height: 1.25rem;
  width: 1.25rem;
  background-color: cyan;
  border-radius: 50%;
}

.die-one {
  display: flex;
  align-items: center;
  justify-content: center;
}

.die-two {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.die-two .dot:nth-of-type(2) {
  align-self: flex-end;
}

.die-three {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.die-three .dot:nth-of-type(2) {
  align-self: center;
}

.die-three .dot:nth-of-type(3) {
  align-self: flex-end;
}

.die-four {
  display: flex;
  justify-content: space-between;
}

.die-four .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.die-five {
  display: flex;
  justify-content: space-between;
}

.die-five .column:nth-of-type(1),
.die-five .column:nth-of-type(3) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.die-five .column:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.die-six {
  display: flex;
  justify-content: space-between;
}

.die-six .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
